<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7b35641c-0117-47c6-8588-2e4e5b1c54f5/resourceGroups/uninove-api/providers/Microsoft.Web/sites/UniProjectWebApi20230602204543</ResourceId>
    <ResourceGroup>uninove-api</ResourceGroup>
    <ApiResourceId>/subscriptions/7b35641c-0117-47c6-8588-2e4e5b1c54f5/resourceGroups/uninove-api/providers/Microsoft.ApiManagement/service/uninove-web-api/apis/UniProjectWebApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://uniprojectwebapi20230602204543.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>a1dc033b-8560-445f-bb84-97451347adf9</ProjectGuid>
    <MSDeployServiceURL>uniprojectwebapi20230602204543.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>UniProjectWebApi20230602204543</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$UniProjectWebApi20230602204543</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>